@use './config' as c;

.Modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;

  background-color: var(--color-secondary-01);
  border-radius: c.$rounded-sm;
  padding: 1.5em 1em;
  &__overlay {
    @extend %flex-center;

    position: absolute;
    inset: 0;
    background-color: red;
  }
}