.Modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;

  background-color: var(--color-secondary-01);
  border-radius: var(--rounded-sm);
  padding: 1.5em 1em;
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    inset: 0;

    background-color: var(--color-primary-01-20);
  }
}