.Prompt {
  &__label {
    font-size: var(--fs-xs);
  }
  &__inputContainer {
    position: relative;
    margin-bottom: 2.6em;
  }
  &__input {
    border-bottom: 3px solid transparent;
    transition: border-color 200ms;
    &:focus {
      outline: none;
      border-color: var(--color-terciary-01);
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}