  .Task {
    padding: var(--p-sm) 1.5em;
    border-radius: 1em / 50%;

    color: var(--black-90);
    background-color: var(--yellow-80);
    transition: 200ms background-color;
    user-select: none;
    cursor: pointer;
    &__wrapper {
      width: 100%;
      position: relative;
    }
    &.selected {
      background-color: var(--yellow-50);
    }
    &.checked {
      color: var(--color-primary-01);
      text-decoration: line-through;
      background-color: var(--color-secondary-02) !important;
      cursor: default;
    }
    &--editing {
      position: absolute;
      bottom: 5em;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
  }