.Task {
	position: relative;
  &__content {
    width: 20rem;
    padding: var(--p-sm) 0 var(--p-sm) 1.5em;
    border-radius: 1em / 50%;
    background-color: var(--color-quaternary-01);
    transition: 200ms background-color;
    user-select: none;
    cursor: pointer;


    &.selected {
      background-color: var(--color-quaternary-02);
    }
    &.marked {
      text-decoration: line-through;
      background-color: var(--color-primary-01-20) !important;
      cursor: default;
    }
  }
  &__menu {
    display: flex;
    gap: calc(var(--p-m) * 1.3);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: calc(100% + calc(var(--p-m) * 1));
    cursor: default;
  }
}