@use './config' as c;

.Task {
  padding: var(--p-sm) 1.5em;
  border-radius: 1em / 50%;

  color: var(--black-90);
  background-color: var(--yellow-80);
  transition: 200ms background-color;
  user-select: none;
  cursor: pointer;
  &__wrapper {
    width: 100%;
    max-width: calc(c.$ideal-width - 2 * c.$ideal-spacing);
    position: relative;
  }
  &.selected {
    background-color: var(--yellow-50);
  }
  &.checked {
    color: var(--color-primary-01);
    text-decoration: line-through;
    background-color: var(--color-secondary-02) !important;
    cursor: default;
  }
  &--editing {
    width: calc(c.$ideal-width - 2 * c.$ideal-spacing);
    max-width: calc(100vw - 2 * c.$ideal-spacing);

    position: absolute;
    bottom: 6em;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
}