@use './config' as c;
@use './base';
@use './CircleButton';
@use './Modal';
@use './Prompt';
@use './Task';
@use './TaskInput';
@use './Menu';
@use './Overlay';
@use './containers';
@use './texts';

@media (hover: hover) {
  .Task {
    &:hover {
      background-color: var(--yellow-50);
    }
  }
  .CircleButton {
    &:hover {
      background-color: var(--aquamarine-50);
    }
    &--innerTaskInput:hover {
      background-color: var(--color-secondary-03);
    }
    &--back:hover {
      background-color: var(--color-secondary-03);
    }
  }
  .Menu {
    &__item:hover {
      background-color: var(--color-secondary-02);
    }
  }
}
@media (hover: none) {
  :root {
    --p-sm: 0.6em;
    --p-m: 1.1em;
    --p-l: 1.8em;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
