@use './config.scss' as c;
@use './base.scss';
@use './CircleButton.scss';
@use './Modal.scss';
@use './Prompt.scss';
@use './Task.scss';
@use './TaskInput.scss';
@use './Menu.scss';
@use './Overlay';

.Title {
  font: {
    size: 1.4rem;
    weight: bold;
  }
  margin-bottom: 0.8em;
  text-align: center;
  &--flex {
    margin-bottom: 0;
  }
}
.TasksContainer {
  @extend %column-flex-center;
  gap: 5px;
  width: 100%;
}
.ContainerPpal {
  display: grid;
  grid-template-rows: min-content auto;
  justify-items: center;
  gap: 1rem;

  padding: 2rem c.$lateral-padding;
  width: c.$ideal-width;
  max-width: 100%;
  margin: 0 auto;
}
.error {
  color: red;
  font: {
    weight: bold;
    size: var(--fs-xs);
  }
  &--prompt {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media (hover: hover) {
  .Task {
    &:hover {
      background-color: var(--yellow-50);
    }
  }
  .CircleButton {
    &:hover {
      background-color: var(--aquamarine-50);
    }
    &--innerTaskInput:hover {
      background-color: var(--color-secondary-03);
    }
    &--back:hover {
      background-color: var(--color-secondary-03);
    }
  }
  .Menu {
    &__item:hover {
      background-color: var(--color-secondary-02);
    }
  }
}
@media (hover: none) {
  :root {
    --p-sm: 0.6em;
    --p-m: 1.1em;
    --p-l: 1.8em;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
